# Use this notebook for your 3 choices of APIs

In [1]:
import pandas as pd
import requests
import json
from pandas import json_normalize

In [2]:
import requests

def get_http_cat(status_code):
    url = f"https://http.cat/{status_code}"
    response = requests.get(url)
    if response.status_code == 200:
        return response.content
    else:
        return None

status_code = 404
cat_image = get_http_cat(status_code)
if cat_image:
    with open(f"{status_code}.jpg", "wb") as f:
        f.write(cat_image)
    print(f"Cat image for status code {status_code} saved successfully.")
else:
    print(f"Failed to retrieve cat image for status code {status_code}.")

Cat image for status code 404 saved successfully.

In [3]:
#2
url2 = "https://www.cbr.ru/scripts/XML_daily.asp?date_req=02/03/2022"
response2 = requests.get(url2)
#print(response2.content)

In [4]:
import xml.etree.ElementTree as ET
data_all = response2.text
#print(type(data_all))

In [5]:
root = ET.fromstring(data_all)
# Create an empty list to store dictionaries
data = []
# Iterate through Valute elements and extract values
for entry in root.findall('Valute'):
    id = entry.attrib['ID']
    numCode = entry.find('NumCode').text
    charcode = entry.find('CharCode').text
    nominal = entry.find('Nominal').text
    name = entry.find('Name').text
    value = entry.find('Value').text
    vunitRate = entry.find('VunitRate').text
    
    # Append extracted data to list of dictionaries
    data.append({"ID": id, "NumCode": numCode, "CharCode": charcode, 
                 "Nominal": nominal, "Name": name, "Value": value, 
                 "VunitRate": vunitRate})
# Convert list of dictionaries to DataFrame
df = pd.DataFrame(data)
df

,ID,NumCode,CharCode,Nominal,Name,Value,VunitRate
0,R01010,036,AUD,1,Австралийский доллар,"66,7817","66,7817"
1,R01020A,944,AZN,1,Азербайджанский манат,"53,9998","53,9998"
2,R01035,826,GBP,1,Фунт стерлингов Соединенного королевства,"123,1411","123,1411"
3,R01060,051,AMD,100,Армянских драмов,"18,8196","0,188196"
4,R01090B,933,BYN,1,Белорусский рубль,"29,4765","29,4765"
5,R01100,975,BGN,1,Болгарский лев,"52,5944","52,5944"
6,R01115,986,BRL,1,Бразильский реал,"17,7795","17,7795"
7,R01135,348,HUF,100,Венгерских форинтов,"27,7437","0,277437"
8,R01200,344,HKD,1,Гонконгский доллар,"11,7413","11,7413"
9,R01215,208,DKK,1,Датская крона,"13,8309","13,8309"
10,R01235,840,USD,1,Доллар США,"91,7457","91,7457"
11,R01239,978,EUR,1,Евро,"102,9112","102,9112"
12,R01270,356,INR,10,Индийских рупий,"12,1817","1,21817"
13,R01335,398,KZT,100,Казахстанских тенге,"18,6621","0,186621"
14,R01350,124,CAD,1,Канадский доллар,"72,4346","72,4346"
15,R01370,417,KGS,10,Киргизских сомов,"10,7936","1,07936"
16,R01375,156,CNY,1,Китайский юань,"14,5340","14,534"
17,R01500,498,MDL,10,Молдавских леев,"49,8618","4,98618"
18,R01535,578,NOK,1,Норвежская крона,"10,4292","10,4292"
19,R01565,985,PLN,1,Польский злотый,"21,9288","21,9288"
20,R01585F,946,RON,1,Румынский лей,"20,7899","20,7899"
21,R01589,960,XDR,1,СДР (специальные права заимствования),"127,9724","127,9724"
22,R01625,702,SGD,1,Сингапурский доллар,"67,7640","67,764"
23,R01670,972,TJS,10,Таджикских сомони,"81,2988","8,12988"
24,R01700J,949,TRY,10,Турецких лир,"66,1464","6,61464"
25,R01710A,934,TMT,1,Новый туркменский манат,"26,2506","26,2506"
26,R01717,860,UZS,10000,Узбекских сумов,"84,3840","0,0084384"
27,R01720,980,UAH,10,Украинских гривен,"30,4044","3,04044"
28,R01760,203,CZK,10,Чешских крон,"41,0266","4,10266"
29,R01770,752,SEK,10,Шведских крон,"96,7925","9,67925"
30,R01775,756,CHF,1,Швейцарский франк,"100,2028","100,2028"
31,R01810,710,ZAR,10,Южноафриканских рэндов,"59,9571","5,99571"
32,R01815,410,KRW,1000,Вон Республики Корея,"76,5619","0,0765619"
33,R01820,392,JPY,100,Японских иен,"79,7962","0,797962"

In [6]:
#3
url='https://api.coinlore.net/api/ticker/?id=90,80'
response = requests.get(url)
results = response.json()

In [7]:
data=json_normalize(results).T.reset_index()

In [8]:
data.to_csv("cripto.csv", index=False)

In [9]:
data

                 index                   0                   1
0                   id                  90                  80
1               symbol                 BTC                 ETH
2                 name             Bitcoin            Ethereum
3               nameid             bitcoin            ethereum
4                 rank                   1                   2
5            price_usd            63596.41             3075.93
6   percent_change_24h               -0.04               -1.03
7    percent_change_1h               -0.05                0.13
8    percent_change_7d               -1.20               -4.74
9            price_btc                1.00            0.048356
10      market_cap_usd    1252217108013.20     376417882403.13
11            volume24  27832367257.384117  10949238139.538736
12           volume24a  25346935151.462616   9926263436.381891
13             csupply         19690059.00        122375302.00
14             tsupply            19690059           122375302
15             msupply            21000000